<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>Drill5-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Drill5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>example5-5-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>example5-5-2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>example5-5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>example5-6-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>example5-7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>exmaple5-6-2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>try5-3-1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>try5-3-2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>try5-5-3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>try5-6-3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
	</dict>
</dict>
</plist>
